<div class="w-full text-center mb-5 space-y-6 flex flex-col items-center">
    <div class="space-y-3">
        <h1 class="font-myriadBold text-7xl text-primary_color">
            Welcome to our Blog!
        </h1>
        <p class="text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde porro atque vel, architecto assumenda molestiae labore fugiat quam nulla.
        </p>
    </div>

    <div class="w-[500px] flex">
        <input type="text" class="w-full border-2 p-4 rounded-tl-lg rounded-bl-lg" placeholder="Your email..." />
        <button class="p-4 bg-second_color text-white font-bold rounded-tr-lg rounded-br-lg">
      Subscribe
    </button>
    </div>
</div>