<div class="rounded-lg shadow-xl">
    <img src="./assets/img/test.jpg" alt="" class="w-full object-cover rounded-lg h-[200px] esm:h-[130px]" />

    <div class="p-5 space-y-5 text-sm flex flex-col justify-between">
        <h1 class="font-bold">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, a?
        </h1>

        <div class="flex items-center esm:hidden">
            <img src="./assets/img/test.jpg" alt="" class="rounded-full w-[50px] h-[50px] border-primary_color border-2 object-cover" />

            <div class="flex flex-col pl-5">
                <h1 class="font-bold">Lorem, ipsum dolor.</h1>
                <p class="text-gray-500">Lorem ipsum dolor sit.</p>
            </div>
        </div>
    </div>
</div>