<div class="space-y-4">
    <h1 class="text-5xl font-myriadBold mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa accusamus
    </h1>

    <i class="text-second_color">By Hector Gomez | 15 minutes ago</i>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minima dolores vel maxime exercitationem et quam amet, similique, cupiditate atque quis. Consequuntur, dolorem quasi libero inventore, excepturi consequatur maiores sit dicta unde vero provident
        exercitationem doloribus odio perferendis! Error iure harum soluta dignissimos esse consequuntur molestias sapiente at saepe aperiam?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem ipsa sit ut repellendus officiis porro magni atque! Quidem, numquam! Inventore sunt illum sequi rem laborum aperiam perspiciatis saepe esse accusamus repudiandae maxime consectetur,
        at, expedita iure est impedit quod numquam distinctio facere! Nobis expedita iure, fugit, consequuntur voluptate quasi voluptates veritatis architecto ullam, officia nisi. Dolor nulla culpa saepe maxime? Ut quos reiciendis cupiditate rem officiis
        voluptate harum aliquid doloremque impedit asperiores. Quae reprehenderit eaque explicabo nulla? Cumque temporibus non saepe sed ipsa impedit architecto quas accusantium soluta maxime voluptatibus sunt expedita quasi repellat et, minus asperiores
        odit veritatis harum vel est reprehenderit similique! Consequatur vero neque eveniet eius nesciunt unde ipsum, voluptatem ducimus quis. Facere cupiditate porro aliquid!
    </p>
</div>