<div class="top-0 w-full px-36 py-4 flex justify-between items-center bg-white text-base esm:px-10 sm:px-16 lg:px-28" [ngClass]="{
    absolute: actualUrl == '/',
    'bg-transparent': actualUrl == '/'
  }">
    <div class="flex items-center">
        <fa-icon *ngIf="showIcon" [icon]="faMenu" class="cursor-pointer text-2xl mr-10" (click)="openMenu()"></fa-icon>
        <img class="object-contain w-14 h-14" src="./assets/img/no-bg.png" alt="company-logo" />
    </div>

    <div class="flex space-x-7">
        <a *ngFor="let option of options" class="transition-all duration-300 text-white font-bold py-4 px-8 rounded-xl" [routerLink]="option.url" [routerLinkActive]="''" [ngClass]="{
        'text-black': actualUrl != '/'
      }">{{ option.label }}</a
    >
  </div>
</div>