<div class="fixed h-screen flex flex-col top-0 left-0 bg-gray-50 px-7 py-5 duration-500 esm:w-[120px] sm:w-[280px] z-50" [class.open]="showMenu" [class.close]="!showMenu">
    <div class="w-full flex sm:justify-end esm:justify-center">
        <fa-icon [icon]="faClose" class="text-black text-[1.5rem] cursor-pointer" (click)="closeMenu()"></fa-icon>
    </div>

    <div class="py-5 flex flex-col space-y-2">
        <app-modal *ngFor="let option of sideBarOptions" [option]="option" [openModal]="option.id == openModal" (modalEvent)="selectModal($event)"></app-modal>
    </div>

    <sideBar-profile-section></sideBar-profile-section>
</div>