<div class="flex flex-col w-full py-10 esm:px-5 sm:px-7 md:px-12 lg:px-28">
    <blog-header></blog-header>

    <div class="w-full flex shadow-xl h-max grid-cols-2 grid-rows-1 rounded-lg esm:flex-col">
        <img src="./assets/img/test.jpg" alt="test" class="object-cover rounded-lg w-[50%] h-[300px] esm:w-full esm:h-[180px]" />

        <div class="flex flex-col lg:p-14 space-y-5 justify-center esm:p-7 sm:p-4 md:p-10">
            <h1 class="font-bold text-xl esm:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nobis nemo. Unde!
            </h1>

            <div class="flex items-center">
                <img src="./assets/img/test.jpg" alt="" class="rounded-full w-[50px] h-[50px] border-primary_color border-2 object-cover" />

                <div class="flex flex-col pl-5 text-sm esm:text-xs">
                    <h1 class="font-bold">Lorem, ipsum dolor.</h1>
                    <p class="text-gray-500">Lorem ipsum dolor sit.</p>
                </div>
            </div>

            <p class="text-gray-500 text-sm">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque praesentium ipsa exercitationem molestiae nostrum officia, molestias aperiam nobis quos voluptatibus eum aliquid commodi saepe voluptas tempora aliquam provident? Quae, ipsa?
            </p>
        </div>
    </div>

    <div class="w-full grid grid-cols-3 gap-8 mt-10 esm:grid-cols-2 exsm:!grid-cols-1">
        <blog-article-card *ngFor="let article of blogArticles"></blog-article-card>
    </div>
</div>