<div class="w-full px-32 py-10">
    <swiper [autoplay]="{ delay: 5000 }" [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: false
    }" [pagination]="true" [spaceBetween]="50" [loop]="true" class="w-full" [speed]="400">
        <ng-template swiperSlide *ngFor="let service of homeServices" class="shadow-lg">
            <img src="{{ service.image }}" alt="{{ service.title }}" class="object-cover h-[200px] w-full" />

            <div class="p-4">
                <h1 class="font-myriadBold text-left text-xl mb-3">
                    {{ service.title }}
                </h1>

                <p class="font-medium text-sm text-slate-400">
                    {{ service.description }}
                </p>
            </div>
        </ng-template>
    </swiper>
</div>