<div class="flex flex-col w-full">
    <h1 class="text-primary_color font-myriadBold text-6xl mb-5">Let's talk</h1>
    <p class="text-slate-400 font-semibold">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia vitae consequuntur beatae, quae, expedita error laudantium ad, aliquam dolor praesentium aliquid laboriosam distinctio laborum in?
    </p>

    <form class="py-6 flex flex-col items-center text-left w-full" [formGroup]="clientMessageForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col mb-5 w-full">
            <label for="" class="text-base font-bold text-slate-400 mb-2">Your Name</label
      >
      <input
        type="text"
        class="p-3 bg-slate-200 rounded-2xl focus:outline-none"
        formControlName="name"
        name="name"
      />
    </div>

    <div class="flex flex-col mb-5 w-full">
      <label for="" class="text-base font-bold text-slate-400 mb-2"
        >Email Name</label
      >
      <input
        type="email"
        class="p-3 bg-slate-200 rounded-2xl focus:outline-none"
        formControlName="email"
        name="email"
      />
    </div>

    <div class="flex flex-col mb-5 w-full">
      <label for="" class="text-base font-bold text-slate-400 mb-2"
        >Message</label
      >
      <textarea
        name=""
        class="p-3 bg-slate-200 rounded-2xl resize-none h-44 focus:outline-none"
        formControlName="message"
      ></textarea>
    </div>

    <app-loader *ngIf="loading" [className]="'w-full'"></app-loader>

    <button
      *ngIf="!loading"
      class="rounded-full w-max text-white py-5 px-16 bg-primary_color font-bold shadow-2xl text-xl transition-all duration-300"
      [disabled]="!clientMessageForm.valid"
      [ngClass]="{
        'text-black': !clientMessageForm.valid,
        'bg-slate-200': !clientMessageForm.valid
      }"
    >
      Send Message
    </button>
  </form>
</div>