<div class="flex items-center mb-4">
    <h1 class="font-myriadBold text-primary_color text-3xl">Comments</h1>

    <button class="px-3 py-2 bg-second_color text-white font-bold rounded-lg ml-10">
    Create an account for comment
  </button>
</div>

<div>
    <div>
        <textarea class="rounded-lg resize-none h-[150px] w-full border-2 border-gray-300 p-3"></textarea>
        <div class="w-full flex justify-end">
            <button class="rounded-lg bg-primary_color text-white font-bold py-2 px-7 text-lg">
        Post
      </button>
        </div>
    </div>
</div>